html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.save-note {
  display: none;
} 

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* added to get rid of scrollbar */

.container-fluid {
  height: calc(100% - 70.375px) !important;
}

/* --- */

.list-container, .row, .card  {
  height: calc(100%) !important;
}

.note-textarea, .note-title {
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
}

.note-textarea {
  resize: none;
  /* changed height to get rid of scroll-bar */
  height: calc(100% - 70.375px - 0.25rem - 15px * 2);
  padding-top: 15px;
}

/* changed height, so descenders have room */
.note-title {
  height: auto;
  margin-top: 13px;
  font-size: 3rem;
}

.note-title:read-only, .note-textarea:read-only {
  color: #757575;
}

.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container {
  padding-left: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  box-sizing: border-box;
  border-left: none;
  border-right: none;
  padding: 0;
  cursor: pointer;
  height: 100%;
}

/* changed the bottom 2 styles slightly, so that you can select outside of text and still get note */

.list-container .list-group-item span {
  box-sizing: border-box;
  display: inline-block;
  padding: 20px;
  height: 100%;
  width: calc(100% - 16px - 20px);
}

.delete-note {
  margin: 20px 20px 20px 0;
}
